{% load static%}

<style>
  .hello-msg{
    font-size: 18px;
    color: aliceblue;
    
  }
</style>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Human Resources System</a>
      <span class="hello-msg">Hello, {{request.user}}</span>
      <span><a class="hello-msg" href="{% url 'logoutUser' %}">Logout</a></span>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <!--<li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'candidatos' %}">Candidatos</a>
            </li>
            {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'empleados' %}">Empleados</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'idiomas' %}">Idiomas</a></li>
                <li><a class="dropdown-item" href="{% url 'competencias' %}">Competencias</a></li>
                <li><a class="dropdown-item" href="{% url 'capacitaciones' %}">Capacitaciones</a></li>
                <li><a class="dropdown-item" href="{% url 'puestos' %}">Puestos</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'experienciaLaboral' %}">Experiencia Laboral</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                {% if request.user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Something else here</a></li>
                <li><a class="dropdown-item" href="{% url 'export_csv' %}">Empleado CSV File</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search" method="POST" action="{% url 'search_system' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="text"  name="searched" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <br>
  
  