{% extends 'system/main.html' %}

{% block content %}
<br>
<h1>User profile</h1>
<hr>
<br>
<div class="modal-footer">
  <a class="btn btn-success" href="{% url 'registrarExperienciaLaboral' %}" role="button">Agregar Experiencia Laboral</a>
  </div>
<div class="table-responsive py-2">
<table class="table">
  <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Puesto Ocupado</th>
        <th scope="col">Fecha desde</th>
        <th scope="col">Fecha Hasta</th>
        <th scope="col">Salario</th>
        <th scope="col" colspan="2">Acciones</th>
      </tr>
 </thead>
  <tbody>
    {% for i in experienciaLaboral %}
    <tr>
        <td>{{i.id}} </td>
        <td>{{i.empresa}} </td>
        <td>{{i.puestoOcupado}} </td>
        <td>{{i.fechaDesde}} </td>
        <td>{{i.fechaHasta}} </td>
        <td>{{i.salario}} </td>

        <td><a href="/editarExperienciaLaboral/{{i.id}}" class="btn btn-info">Editar</a></td>
        <td><a href="/eliminarExperienciaLaboral/{{i.id}}" class="btn btn-danger">Eliminar</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<br>
<br>
<div class="modal-footer">
  <a class="btn btn-success" href="{% url 'registrarCapacitaciones' %}" role="button">Agregar Capacitacion</a>
  </div>
  <div class="table-responsive py-2">
      <table class="table" id="table_id">
          <thead class="table-dark">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Capacitacion</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Nivel</th>
                  <th scope="col">Fecha Desde</th>
                  <th scope="col">Fecha Hasta</th>
                  <th scope="col">Institucion</th>
                  <th scope="col" colspan="2">Acciones</th>
              </tr>
          </thead>
          <tbody>
              {% for i in capacitaciones %}
              <tr>
                  <td>{{i.id}} </td>
                  <td>{{i.capacitacion}} </td>
                  <td>{{i.descripcion}} </td>
                  <td>{{i.nivel}} </td>
                  <td>{{i.fechaDesde}} </td>
                  <td>{{i.fechaHasta}} </td>
                  <td>{{i.institucion}} </td>
                
                  <td><a href="/editarCapacitacion/{{i.id}}" class="btn btn-info">Editar</a></td>
                  <td><a href="/eliminarCapacitacion/{{i.id}}" class="btn btn-danger">Eliminar</a></td>
                  
                </tr>
                {% endfor %}
            </tbody>
      </table>
  </div>
  <br>
  <br>
  <div class="modal-footer">
    <a class="btn btn-success" href="{% url 'registrarCandidato' %}" role="button">Agregar Candidato</a>
    </div>
    <br>
    <div class="table-responsive py-2">
        <table class="table">
          <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Puesto que Aspira</th>
                <th scope="col">Departamento</th>
                <th scope="col">Salario que Aspira</th>
                <th scope="col">Competencias</th>
                <th scope="col">Capacitaciones</th>
                <th scope="col">Experiencia</th>
                <th scope="col">Idiomas</th>
                <th scope="col">Recomendado</th>
                <th scope="col" colspan="3">Acciones</th>
              </tr>
         </thead>
          <tbody>
            {% for i in candidatos %}
            <tr>
                <td>{{i.id}} </td>
                <td>{{i.nombre}} </td>
                <td>{{i.cedula}} </td>
                <td>
                  
                  {{i.puestoAspira}}
                  
                </td>
                <td>{{i.departamento}} </td>
                <td>{{i.salarioAspira}} </td>
                <td> 
                  {% for i in i.principalesCompetencias.all %}
                  {{i.competencia}}
                  {% endfor %}
                </td>
                <td>{% for i in i.principalesCapacitaciones.all%} 
                  {{i.capacitacion}}
                  {% endfor %}
                </td>
                <td>{% for i in i.experienciaLaboral.all %} 
                  {{i.puestoOcupado}}
                  {% endfor %}
                </td>
                <td>{% for i in i.idioma.all%}
                  {{i.idioma}}
                  {% endfor %}
                </td>
                <td>{{i.recomendadoPor}} </td>  
                <td><a href="/editarCandidato/{{i.id}}" class="btn btn-info">Editar</a></td>
                <td><a href="/eliminarCandidato/{{i.id}}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="/CandidatoSeleccion/{{i.id}}" class="btn btn-success">Contratar</a></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>  
{% endblock %}